body {
  font-family: 'lato', sans-serif;
}
.container {
  width: 80%;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

}
h1, h2, h3{
  color: #fff;
  text-align: center;
}

.form__label{
  color: #fff;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #AAA;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 10%;
  }
  .col-3 {
    flex-basis: 12.5%;
  }
  .col-4 {
    flex-basis: 12.5%;
  }
  .col-5 {
    flex-basis: 5%;
  }
  
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}


html {
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 70%;
  max-width: 400px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

.box h2{
  margin: 0 0 30px;
  padding: 0;
}

.box .user-box {
  position: relative;
}

.error-box, .success-box{
    border: 1px solid #d0e9c6;
    padding: 1em;
    margin-bottom: 1em;

}

.chrono{
  margin: 1em;
  font-size: 2em;
  color: white;
}

.error-box{
  background-color: #f2dede;
  color: #a94442;
}
.success-box {
  background-color: #dff0d8;
  color: #3c763d;
}


.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.box .user-box input:focus ~ label,
.box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0045ff;
  font-size: 12px;
}

.button {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  &:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
  margin-bottom: 1em;
}

.button_start{
  background-color: #36d28c;
}
.button_stop{
  background-color: #f44343;
}

select {
   width: 100%;
   padding: 1em;
   font-size: 1.5em;
   margin-bottom: 1em;
    
}

